.card {
  display: grid;
  /* grid: 1fr 1fr / 1fr; */
  grid: 1fr/ 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  /* padding-left: rem(20px);s/ */
}

.chart {
  /* margin-top: rem(20px); */
}
