.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid #e0e0e0; */
  border-radius: 8px;
  overflow: hidden;
}
.header {
  /* background-color: #f5f5f5; */
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  /* border-bottom: 1px solid #e0e0e0; */
}
.cell {
  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid #e0e0e0; */
  flex: 1;
  display: flex;
  align-items: center;

  /* &:last-child {
    justify-content: flex-end;
  } */
}
/* &:first-child {
  flex: 2;
}
&:last-child {
  border-bottom: none;
} */
