.navbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-body); 
}

.header {
  padding: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
  padding-top: var(--mantine-spacing-sm);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
  flex: 1;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.linksInner {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
