.container {
  padding: var(--mantine-spacing-md);
}

.pickerContainer {
    max-width: 400px; /* Approximate size of a picker */
    margin: 0 auto;
    background-color: var(--mantine-color-body);
    /* border: 1px solid var(--mantine-color-gray-3); */
    border-radius: var(--mantine-radius-md);
    padding: var(--mantine-spacing-md);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mantine-spacing-md);
}

.controlArrow {
    padding: var(--mantine-spacing-xs);
    cursor: pointer;
    font-weight: bold;
    color: var(--mantine-color-gray-6);
    
    &:hover {
        color: var(--mantine-color-black);
        background-color: var(--mantine-color-gray-1);
        border-radius: var(--mantine-radius-md);
    }
}

.monthButtonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: var(--mantine-radius-sm);
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-7);
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--mantine-color-blue-light-hover);
    }
}

.monthButtonInactive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: var(--mantine-radius-sm);
    background-color: transparent;
    transition: color 0.2s;
    cursor: pointer;
    color: var(--mantine-color-gray-6);

    &:hover {
        background-color: transparent;
        color: var(--mantine-color-gray-1);
    }
}
